@at-root %--hidden {
  display: none;
} 

//---

.Model {
  &.Boolean:not(:checked) ~ *,
  &.FocusWithin:not(:focus-within) *,
  &.Hover:not(:hover) * {
    &.Viewer {@extend %--hidden;}
  }
}

//---

.Menu {
  &.Controller::before {
    content: "...";
  }  
  &.Viewer {
    border: 1px solid black;
    width: 100px;
    position: relative;
    display: inline-grid;
  }
  &.Item {
    display: block;
    &::after {
      content: "---";
    }
  }
}

article {
  display: flex;
}
